@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



.footer {
    background-color: #222;
    color: #fff;
    padding: 30px 20px; /* Aumentei o padding para dar mais espaço ao redor do conteúdo */
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    flex: 1;
    min-width: 200px;
    margin-bottom: 15px; /* Aumentei um pouco a margem inferior */
    text-align: left;
}

.footer-right {
    flex: 1;
    min-width: 200px;
    margin-bottom: 12px; /* Aumentei um pouco a margem inferior */
    text-align: right;
}

.footer-link {
    color: #aaa;
    text-decoration: none;
    margin: 0 28px; /* Aumentei o espaçamento entre os links */
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #fff;
}

.footer-button {
    margin-left: 22px; /* Aumentei o espaçamento à esquerda do botão */
    background-color:transparent;
    color: #aaa;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: inline-block;
    vertical-align: middle;
}

.footer-button:hover {
    background-color: #777;
}

@media (max-width: 600px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-left,
    .footer-right {
        text-align: left;
    }
    .footer-button {
        margin-left: 0;
        margin-top: 10px;
    }
 }