@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('header.css');
@import url('home.css');
@import url('menu.css');
@import url('testiomonials.css');
@import url('footer.css');
@import url('botao.css');
* {
    
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color : #ffe6db; 
}

section{
    padding: 28px 8%;
}
.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d11414;;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color:#980805 ;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: #fff;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #1d1d1d;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3 ease;

}


.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: #e40e1b;
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
} 
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }
  
/* Estilos para o botão do chat */
 .chat-button {
  position: fixed; /* Fixa o elemento na janela do navegador */
  bottom: 20px; /* Distância do fundo */
  right: 20px; /* Distância da direita */
  z-index: 1000; /* Garante que ele fique sobre outros elementos */
 }

 /* Ajustes para evitar sobreposição com outros elementos, se necessário */
 body {
  margin-bottom: 100px; /* Adiciona margem inferior ao body para o botão não cobrir o conteúdo */
 }